html {
  min-height: 100%;
  height: fit-content;
}
body {
  min-height: 100%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', Sans-Serif;
}
.items {
  margin: auto;
  padding: 30px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner {
  display: flex;
  justify-content: center;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-family: 'Playfair Display', Serif;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}
.social-icons a {
  color: white;
  text-decoration: none;
}
.banner-image {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  object-fit: cover;
}
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
.link {
  padding: 5px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-elevation-low);
  transition: 0.3s;
}
.link:hover {
  box-shadow: var(--shadow-elevation-medium);
}
.link-text {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0 5px;
}
.background--custom {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  position: absolute;
  overflow: hidden;
  z-index: -3;
  top: 0;
  left: 0;
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  transform: rotate(0deg) scale(2) translateY(-50%);
  --gradient-color-1: #64a264;
  --gradient-color-2: #b65422;
  --gradient-color-3: #54b7fb;
  --gradient-color-4: #5c03c5;
  --gradient-speed: 0.000006;
}
.glass {
  background-color: rgba(165, 42, 42, 0.50);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassy {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(165, 123, 173, 0.5);
  }
  .warning {
    display: none;
  }
}
:root {
  --shadow-color: 272deg 21% 35%;
  --shadow-elevation-low:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.17),
    0.4px 0.9px 1.3px -0.6px hsl(var(--shadow-color) / 0.29),
    1px 2px 2.9px -1.2px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.18),
    1px 2px 2.9px -0.4px hsl(var(--shadow-color) / 0.27),
    2.3px 4.5px 6.6px -0.8px hsl(var(--shadow-color) / 0.36),
    5px 10px 14.7px -1.2px hsl(var(--shadow-color) / 0.45);
  --shadow-elevation-high:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.17),
    2px 4.1px 6px -0.2px hsl(var(--shadow-color) / 0.21),
    3.7px 7.3px 10.7px -0.4px hsl(var(--shadow-color) / 0.25),
    5.6px 11.2px 16.4px -0.5px hsl(var(--shadow-color) / 0.29),
    8.3px 16.6px 24.4px -0.7px hsl(var(--shadow-color) / 0.34),
    12.1px 24.2px 35.5px -0.9px hsl(var(--shadow-color) / 0.38),
    17.5px 35.1px 51.5px -1.1px hsl(var(--shadow-color) / 0.42),
    25px 50px 73.4px -1.2px hsl(var(--shadow-color) / 0.46);
}



